
<!doctype html>
<html lang="en" ng-app="Eggly">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jumbotron Current Category</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
</head>

<body ng-controller="MainController">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" ng-click="setCurrentCategory(null);">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" ng-repeat="category in categories">
                <a class="nav-link" href="#" ng-click="setCurrentCategory(category)">{{category.name}} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Current Category: {{currentCategory.name}}</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="setCurrentBookmarkState('Create', null);">Add new bookmark &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4" ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
                <h2>{{bookmark.id}} - {{bookmark.name}}</h2>
                <p>Category: {{bookmark.category}}
                    <button class="btn btn-sm" ng-click="setCurrentBookmarkState('Edit', bookmark);">edit</button>
                    <button class="btn btn-sm" ng-click="deleteBookmark(bookmark);">del</button>
                </p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

    <div class="container" ng-if="shouldShowEditor();">
        <form name="bobs-form" ng-submit="storeBookmark(bookmarkToStore);">
            <p>{{currentBookmarkState}} new bookmark:</p>
            <input type="text" class="form-control col-md-5" placeholder="Bookmark Name" ng-model="bookmarkToStore.name"><br/>
            <input type="text" class="form-control col-md-5" placeholder="Category Name" ng-model="bookmarkToStore.category"><br/>
            <button type="button" class="btn btn-default" ng-click="setCurrentBookmarkState(null)">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <br />

</main>

<footer class="container">
    <p>&copy; Company 2017</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="eggly.js"></script>
</body>
</html>
